.about{
    margin-bottom: 20px;
}
.about-img{
    padding: 20px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 50%;
}
.card{
    background-color:#c2d0e5 !important;
    border: none;
}