 .navbar a{
    padding: 10px 0;
	border-bottom: 1px solid #404040;
	color: #fff;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
   margin: 10px;

} 
.navbar a:hover{
    color: rgb(12, 12, 240);
}
.navbar .search{
    border-radius: 30px;
    width: 200px;
    transition: 0.5s;
    border: none;

}
.navbar .search:hover{
    transition: 0.5s;
    width: 300px;
    border-radius: 2px;
}

